@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    font-family: 'Fira Sans', sans-serif;
}

.header {
    border-bottom: 5px solid #e31e24;
}

/*vertcal scroll*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #666;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    border-radius: 100px;
}

.header-scrolling {
    width: 100%;
    top: 0;
    z-index: 99;
    position: fixed;
}

.banner-caption {
    top: 0;
    bottom: 0;
    width: 100%;
}

.con-banner {
    max-width: 670px !important;
}

.con-banner span {
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
}

.page-title {
    margin-bottom: 15px;
}

.page-desc h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0;
}

.desc-service {
    padding: 70px;
}

.view-desc {
    max-width: 675px;
}

.view-desc h3 {
    font-size: 40px;
    font-weight: 800;
    color: #060e33;
    margin-bottom: 30px;
}

.view-desc p {
    font-size: 22px;
    font-weight: 300;
    color: #343434;
    margin-bottom: 0;
}

.btn-service {
    min-height: 36px;
    max-width: 195px;
    margin: auto;
    margin-top: 42px;
    border-radius: 0;
    border: 2px solid #060e33;
    font-weight: 800;
    color: #060e33;
}


/* footer */

.footer {
    background-color: #060e33;
}

.main-footer {
    padding-top: 100px;
    padding-bottom: 80px;
}

.title-footer {
    max-height: 57px;
}

.title-footer h3 {
    font-size: 18px;
    font-weight: 900;
}

.item {
    margin-top: 20px;
}

.content-nav {
    margin-top: 20px;
}

.nav-link {
    padding: 0;
    font-size: 15px;
    color: #ffff;
    line-height: 35px;
}

.content-addres {
    margin-top: 20px;
}

.content-addres p {
    font-size: 15px;
    line-height: 35px;
}

.sosmed-nav {
    margin-top: 20px;
}

.whatsapp {
    font-weight: 800;
    gap: 15px;
}

.whatsapp svg {
    font-size: 21px;
}

.nav-sosmed {
    gap: 15px;
    display: flex;
    align-items: center;
}

.nav-sosmed svg {
    font-size: 21px;
    color: #e51d25;
}

.copyright {
    height: 60px;
    background-color: #04091e;
    padding: 0 50px;
}

.text-cr p {
    margin-bottom: 0;
    font-size: 12px;
    color: #909090;
}